<mat-card>
    <mat-card-header><h1>Client-side converter from animated GIF to ZX Spectrum's SCA</h1></mat-card-header>
    <mat-card-content>
        <h2>How to use</h2>
        <!--        <ol role="list">-->
        <!--            <li role="listitem">Prepare PNG image in some PC editor. Image width/height should be 320*240, where central 256*192 are a standard 6912 image and the rest are border area</li>-->
        <!--            <li role="listitem">Load it</li>-->
        <!--            <li role="listitem">Convert it to see the preview</li>-->
        <!--            <li role="listitem">Download result in bsc format</li>-->
        <!--        </ol>-->
        <app-image-loader
                (loaded)="imageLoaded($event)"
        >Animated GIF
        </app-image-loader>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary" *ngIf="loaded" type="button" (click)="convertImage()">Convert</button>
        <button mat-raised-button color="warn" *ngIf="converted" type="button" (click)="saveImage()">Download</button>
    </mat-card-actions>
</mat-card>
<mat-card *ngIf="error" class="error-message">
    <mat-card-content>{{ error }}</mat-card-content>
</mat-card>
<mat-card *ngIf="frames">
    <mat-card-content>
        preview?
        <!--        <app-canvas-preview-->
        <!--                [width]="width"-->
        <!--                [height]="height"-->
        <!--                [imageData]="imageData"-->
        <!--        ></app-canvas-preview>-->
    </mat-card-content>
</mat-card>
