<mat-card>
    <mat-card-header><h1>Client-side converter from animated GIF to ZX Spectrum's SCA</h1></mat-card-header>
    <mat-card-content>
        <h2>How to use</h2>
                <ol role="list">
                    <li role="listitem">Prepare animated GIF image in some PC editor.</li>
                    <li role="listitem">Load it to see it in preview</li>
                    <li role="listitem">Convert it</li>
                    <li role="listitem">Download result in SCA format</li>
                </ol>
        <app-image-loader
                (loaded)="imageLoaded($event)"
        >Animated GIF
        </app-image-loader>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary" *ngIf="loaded" type="button" (click)="convertImage()">Convert</button>
        <button mat-raised-button color="warn" *ngIf="converted" type="button" (click)="saveImage()">Download</button>
    </mat-card-actions>
</mat-card>
<mat-card *ngIf="error" class="error-message">
    <mat-card-content>{{ error }}</mat-card-content>
</mat-card>
<mat-card *ngIf="frames && gifImageElement">
    <mat-card-content>
        <div>Loaded GIF:</div>
        <img [src]="gifImageElement.src" alt="GIF"/>
        <div>Frames: {{ frames.length }}</div>
    </mat-card-content>
</mat-card>
