@use '@angular/material' as mat;
@include mat.core();

@import "app/scss/theme";

@include mat.button-theme($converter-theme);

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

canvas {
  display: block;
  max-width: 100%;
}
